html {
    height: 100%;
}

body {
    min-height: 100%;
    margin: 0;
    padding: 0;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#634f4d+0,889ead+100 */
    background: rgb(99,79,77); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(99,79,77,1) 0%, rgba(136,158,173,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  rgba(99,79,77,1) 0%,rgba(136,158,173,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  rgba(99,79,77,1) 0%,rgba(136,158,173,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#634f4d', endColorstr='#889ead',GradientType=0 ); /* IE6-9 */

    font-family: "freight-sans-pro",sans-serif;
    font-style: normal;
    font-weight: 400;

    color: white;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;


    @media only screen and (max-width: 768px) {
        position: absolute;
        width: 100%;
        height: auto;
        min-height: auto;
    }


}

.wrapper {
    opacity: 0;
    min-height: 100%;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    position: fixed;
    z-index: -1;

    -webkit-transition: opacity 2s ease-in-out;
    -moz-transition: opacity 2s ease-in-out;
    transition: opacity 2s ease-in-out;

    @media only screen and (max-width: 768px) {
        position: absolute;
        opacity: 1;
        background-position-x: -480px;
    }

    &.active {
        background: transparent url('../img/bg_clear.jpg') top left no-repeat;
        background-size: cover;
        opacity: 1;

        @media only screen and (max-width: 768px) {
            background-position-x: 0px;
        }

        @media only screen and (max-width: 550px) {
            background-position-x: -480px;
        }
    }
}


img {
    min-width: 100%;
    width: 100%;
}
