.footer {
    border-top: 1px solid rgba(255,255,255,0.3);
    width: 100%;
    margin-top: 120px;

    @media only screen and (max-width: 768px) {
        margin-top: 70px;
        height: 80px;
    }
}
