.form {

    &__input {
        background: none;
        border: none;
        border-bottom: 1px solid #FFFFFF;
        width: 100%;
        height: 50px;
        font-size: 16px;
        color: white;
        font-family: "freight-sans-pro",sans-serif;
        font-style: normal;
        font-weight: 300;
        border-radius: 0;

        &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
          color: rgba(255,255,255,0.5);
        }
        &::-moz-placeholder { /* Firefox 19+ */
          color: rgba(255,255,255,0.5);
        }
        &:-ms-input-placeholder { /* IE 10+ */
          color: rgba(255,255,255,0.5);
        }
        &:-moz-placeholder { /* Firefox 18- */
          color: rgba(255,255,255,0.5);
        }

        &:focus {
            outline:none;
        }
    }

    &__btn {

        display: inline-block;
        width: 250px;
        padding: 12px;
        color: #fff;
        border: 1px solid #fff;
        border-radius: 30px;
        margin: 30px auto 0;
        display: block;
        text-align: center;
        outline: none;
        text-decoration: none;
        transition: background-color 0.2s ease-out,
        color 0.2s ease-out;
        text-transform: uppercase;
        font-size: 14px;
        cursor: pointer;

        background-color: transparent;
        font-family: "freight-sans-pro",sans-serif;
        font-style: normal;
        font-weight: 300;
        letter-spacing: 4px;
        font-size: 16px;

        &:hover,
        &:active {
          background-color: #fff;
          color: #000;
          transition: background-color 0.3s ease-in,
                      color 0.3s ease-in;

        }
    }

}
