// Make sure you have this in your styles
// because grid is using paddings
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

// This is mixin which you will include in parent
// of columns. It kills default margin of inline-block
// elements.
@mixin row () {
  font-size: 0;
}

// This is column mixins.
@mixin col ($col, $sum, $gap: 1em, $align: top, $first: false, $last: false) {
    width: 100%;
    display: inline-block;
    font-size: 16px;
    padding-left: if($first, 0, $gap);
    padding-right: if($last, 0, $gap);

    @media only screen and (min-width: 768px) {
            width: percentage($col/$sum);
            vertical-align: $align;
    }

    &.fluid { width: percentage($col/$sum); }
}


.features {
  @include row();
  margin: 70px auto 50px;
  width: 1024px;


  @media only screen and (max-width: 1024px) {
          width: 100%;
  }
}


.features article {
  @include col(1, 2);
}
