.nav {
    width: 100%;
    background-color: rgba(0,0,0,0.4);

    &__list {
        list-style: none;
        margin: 0;
        padding: 0;
        padding: 15px;
        width: 1024px;
        margin: auto;

        @media only screen and (max-width: 1024px) {
                width: 100%;
        }
    }

    &__item {
        width: 100px;
    }
}
