h2 {
    font-family: "freight-sans-pro",sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 26px;
    margin-top: 0;
}


p {
    font-family: "freight-sans-pro",sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
}
